@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: min(90vw, 940px); /* header vai ter no max 940px de largura */
    margin: 30px auto 0;
    display: flex;
    align-items: center;
}

header .logo{
    margin-right: 7.5rem;
}

header .menu a{
    margin-right: 1.88rem;
    font-size: 1rem;
    color: #111111;
    text-decoration: none;
}

main{
    width: min(90vw, 940px);
    margin: 50px auto 0;
}

article{
    margin-bottom: 30px;
}

article h1, h2{
    margin-bottom: 20px;
}

footer{
    margin-top: 50px;
    padding: 1.44rem;
    font-size: 0.875rem;
    color: #999999;
    text-align: center;
    background-color: #EEEEEE;
}

.start{
    width: min(90vw, 940px);
    margin: 30px auto 0;
}

.rectangle{
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: flex;
    position: relative;
}

.welcome{
    width: 100%;
    height: 100%;
    margin: 117px 0 0 60px;
}

.welcome .title{
    margin-bottom: 10px;
    color: #111111;
}

.welcome .subtitle{
    width: min(30vw, 316px);
    font-size: 1.13rem;
    color: #000000;
    opacity: 0.7;
}

.chef{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 6.25rem;
}

.mostAccessed{
    width: min(90vw, 940px);
    margin: 50px auto 0;
}

.recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

.recipe{
    width: min(20vw, 300px);
    cursor: pointer;
    
}

.recipeImage img{
    width: 100%;
    border-radius: 15px;
}

.recipeInfo{
    margin-top: 20px;
}

.recipeInfo h3{
    font-size: 1.13rem;
    line-height: 1.31rem;
    color: #111111;
}

.recipeInfo p{
    margin-top: 5px;
    color: #777777;
    font-size: 0.875rem;
}

/* MODAL */
.modalOverlay{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal{
    width: 47.1vw;
    height: 36.8vw;
    background: #ffffff;
    border-radius: 16px;
    text-align: center;
}

.modal img{
    border-radius: 15px;
    width: 42.9vw;
    
    margin: 30px auto 20px;
}

.modal h3{
    font-size: 1.50rem;
}

.modal p{
    color: #777777;
    font-size: 1.13rem;
    margin-top: 5px;
}

.modal a{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.modal a p{
    margin-top: min(5vh, 60px);
    display: inline-block;
    color: #999999;
}

/* MODAL ACTIVE */
.modalOverlay.active{
    visibility: visible;
    opacity: 1;
}